<ion-header>
    <ion-navbar>
        <ion-title>Fabs</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab top right>
        <button ion-fab>
            <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab>
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab color="danger" mini>
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-fab-list side="left">
            <button ion-fab>
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab center middle>
        <button ion-fab color="dark">
            <ion-icon name="md-share"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="secondary">
                <ion-icon name="logo-vimeo"></ion-icon>
            </button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-fab-list>
        <ion-fab-list side="left">
            <button ion-fab color="danger">
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
        </ion-fab-list>
        <ion-fab-list side="right">
            <button ion-fab color="light">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>