<ion-header>
    <ion-navbar>
        <ion-title>Botões</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content padding>
    <!-- <button ion-button 
        color="secondary" 
        [large]="large" 
        [small]="small"
        (click)="mudaBotao()">{{tamanho}}</button>

    <p></p>
    <button 
        ion-button 
        color="danger" 
        outline small
    >
        Outline
    </button>
    <button ion-button color="danger" outline>
        Outline
    </button>
    <button ion-button color="danger" outline large>
        Outline
    </button>
    <p></p>
    <button ion-button clear small>Clear</button>
    <button ion-button clear >Clear</button>
    <button ion-button clear large>Clear</button>
    <p></p>
    <button ion-button round small>Round</button>
    <button ion-button round >Round</button>
    <button ion-button round large>Round</button>
    <p></p>
    <button ion-button block>Block</button>
    <button ion-button full>Full</button>
    <button ion-button block outline round>Block + Round</button>
    
    <button ion-button color="secondary" icon-only>
        <ion-icon name="home"></ion-icon>
    </button>
    <button ion-button color="dark" icon-left>
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
    </button>
    <button ion-button color="dark" icon-right>
        Prox
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button color="danger" 
        ion-button icon-left round outline>
        <ion-icon name="trash"></ion-icon>
        Excluir
    </button> -->
    <br>
    <button 
        (click)="favorita()"
        ion-button 
        icon-left round color="dark" large>
    <ion-icon [name]="icone"></ion-icon>
        Favorito
    </button>
    <br>
    <button 
        (click)="favorita()"
        ion-button 
        icon-left round color="dark" large>
    <ion-icon name="{{icone}}"></ion-icon>
        Favorito
    </button>

    
</ion-content>