<ion-header>
    <ion-navbar>
        <ion-title>Alertas</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <button ion-button block (click)="showAlert()">Alerta Básico</button>
    <br>
    <br>
    <br>
    <button ion-button block color="danger" (click)="showPrompt()">Prompt</button>

    <br>
    <br>
    <br>
    <button ion-button block color="secondary" (click)="showConfirm()">Confirm</button>

    <br>
    <br>
    <br>
    <button ion-button block color="dark"
    (click)="showRadio()">Confirm</button>

</ion-content>