<ion-header>
    <ion-navbar>
        <ion-title>Ionic Action Sheet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button block (click)="abrirOpcoes()">Mostrar action sheet</button>
    <ion-card *ngIf="opcaoEscolhida">
        <img src="assets/imgs/{{ opcaoEscolhida }}.png" 
            style="width:100px; height:100px">
        <ion-card-content>
            <p>{{ opcaoEscolhida }} eu escolho você!</p>
        </ion-card-content>
    </ion-card>
</ion-content>