<ion-header>
    <ion-navbar>
        <ion-title>Segments</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <ion-segment [(ngModel)]="tipo">
            <ion-segment-button value="fogo">
                Fogo
            </ion-segment-button>
            <ion-segment-button value="grama">
                Grama
            </ion-segment-button>
            <ion-segment-button value="agua">
                Agua
            </ion-segment-button>
            <ion-segment-button value="inseto">
                Inseto
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="tipo">
       <ion-list *ngSwitchCase="'fogo'">
        <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'fogo'">
            <ion-thumbnail item-start>
                <img [src]="pokemon.img" />
            </ion-thumbnail>
            <h2>{{ pokemon.nome }}</h2>
        </ion-item>
       </ion-list>
       <ion-list *ngSwitchCase="'grama'">
        <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'grama'">
            <ion-thumbnail item-start>
                <img [src]="pokemon.img" />
            </ion-thumbnail>
            <h2>{{ pokemon.nome }}</h2>
        </ion-item>
       </ion-list>
       <ion-list *ngSwitchCase="'agua'">
        <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'agua'">
            <ion-thumbnail item-start>
                <img [src]="pokemon.img" />
            </ion-thumbnail>
            <h2>{{ pokemon.nome }}</h2>
        </ion-item>
       </ion-list>
       <ion-list *ngSwitchCase="'inseto'">
        <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'inseto'">
            <ion-thumbnail item-start>
                <img [src]="pokemon.img" />
            </ion-thumbnail>
            <h2>{{ pokemon.nome }}</h2>
        </ion-item>
       </ion-list>
        
    </div>
</ion-content>