<ion-header>
    <ion-navbar>
        <ion-title>Grids</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-4>Essa coluna ocupa 4 espaços</ion-col>
            <ion-col col-8>Segunda Coluna ocupa 8</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>Ocupa tudo</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>1/3</ion-col>
            <ion-col col-4>1/3</ion-col>
            <ion-col col-4>1/3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>1/3</ion-col>
            <ion-col col-4 offset-4>1/3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
            <ion-col col-1>1/12</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>