grids-page {
    ion-col {
        background-color: #ffc793;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;   
        text-align: center;
    }

    ion-row {
        margin-bottom: 5px;
    }
}