<ion-header>
    <ion-navbar>
        <ion-title>Listas</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <!-- <ion-list>
        <ion-item-sliding *ngFor="let pokemon of pokemons">
            <button ion-item>
                {{pokemon.nome}}
            </button>
            <ion-item-options side="left">
                <button ion-button>Share</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger">Excluir</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list> -->
    <!-- <ion-list>
        <ion-list-header>Meus Pokémons</ion-list-header>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Agua
            </ion-item-divider>
            <ion-item 
    *ngFor="let pokemon of pokemons |pokemonTipoPipe:'agua'">
                {{pokemon.nome |uppercase}}
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Fogo
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'fogo'">
                {{pokemon.nome |uppercase}}
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Grama
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'grama'">
                {{pokemon.nome}}
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Inseto
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'inseto'">
                {{pokemon.nome}}
            </ion-item>
        </ion-item-group>
    </ion-list> -->
    <ion-list>
        <ion-list-header>Meus Pokémons</ion-list-header>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Agua
            </ion-item-divider>
            <ion-item 
    *ngFor="let pokemon of pokemons |pokemonTipoPipe:'agua'">
            <ion-avatar item-start>
                <img [src]="pokemon.img"/>
            </ion-avatar>
                <h2>{{ pokemon.nome }}</h2>
                <p>{{ pokemon.desc }}</p>
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Fogo
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'fogo'">
                <ion-avatar item-start>
                    <img [src]="pokemon.img"/>
                </ion-avatar>
                    <h2>{{ pokemon.nome }}</h2>
                    <p>{{ pokemon.desc }}</p>
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Grama
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'grama'">
                <ion-avatar item-start>
                    <img [src]="pokemon.img"/>
                </ion-avatar>
                    <h2>{{ pokemon.nome }}</h2>
                    <p>{{ pokemon.desc }}</p>
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">
                Pokémons tipo Inseto
            </ion-item-divider>
            <ion-item *ngFor="let pokemon of pokemons |pokemonTipoPipe:'inseto'">
                <ion-avatar item-start>
                    <img [src]="pokemon.img"/>
                </ion-avatar>
                    <h2>{{ pokemon.nome }}</h2>
                    <p>{{ pokemon.desc }}</p>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>